<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gas&Nectar</title>
</head>
<nav>
    <ul>
        <li>
            <a href="/events/gasandnectar">Home/events</a>
        </li>

        <li>
            <a href="/merch">Merch Plug</a>
        </li>
    </ul>
</nav>
    <body>
        <header>
            <h1>Events Editor</h1>
            change and location names courses and images here. 
              
        </header>
        <main>

            <h2>Event Attributes/Values</h2>
            enter event edits 
          
            <form action="events/gasandnectar/<%=event._id%>?+method=PUT" method="POST"> 
            Location: <input type="text" value="<%=event.location%>"><br>
            Name:<input type="text" value="<%=event.name%>"><br>
            Img:<input type="text" value="<%=event.img%>"><br>
            Courses:<input type="text" value="<%=event.courses%>"> <br>
            <input type="submit" value="Publish Edit">
            </form>
        </main>
        
    </body>

</html>