<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gas&Nectar</title>
</head>

    <body>
        <header>
            <h1>Events Editor</h1>
            change and location names courses and images here. 
                <nav>
                    <ul>
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li>
                            <a href="/events">Events </a>
                        </li>
                        <li>
                            <a href="/merch">Merch Plug</a>
                        </li>
                    </ul>
                </nav> 
        </header>
        <main>

            <h2>Event Attributes/Values</h2>
          
            <form action="/gasandnectar/<%=events._id%>?+method=PUT" method="POST">
            <input type="text" value="<%=event.location%>"><br>
            <input type="text" value="<%=event.name%>"><br>
            <input type="text" value="<%=event.img%>">
            <input type="text" value="<%=event.courses%>">
            
            </form>
        </main>
    </body>

</html>