<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gas&Nectar</title>
</head>

<body>
    <header>
        <h1>Events gas and nectar</h1>
        <nav>
            <ul>
                <li>
                    <a href="/events/gasandnectar">Home/events</a>
                </li>

                <li>
                    <a href="/events/merch">Merch Plug</a>
                </li>
                DEV <br>
                <a href="/events/new">Add new Event </a>
            </ul>
        </nav>
    </header>
    <main>
        <h2>up coming event </h2>
        <ul>

            <% for(let i=0; i < event.length; i++){ %>

                <li>
                    <a href="/events/gasandnectar/<%=event[i]._id%>">
                        <img src="<%=event[i].img%>" alt="Event Photo">
                    </a>
                </li>

                <li>
                    <%=event[i].name%>
                </li>
            <li>
               <%=event[i].courses%>
            </li>
                <li>
                    <%=event[i].location%>
                </li>
        </ul>
        <%}%>
    </main>
</body>

</html>