<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <title>Gas&Nectar</title>
</head>
<section>
    <h3>Event Details</h3>

</section>

<body>
    <header>
        <h1>
            Event Show Page
        </h1>
        <nav>
            <ul>
                <li>
                    <a href="/events/gasandnectar">Home/events</a>
                </li>
        
                <li>
                    <a href="/merch">Merch Plug</a>
                </li>
            </ul>
        </nav>

        <p>Location <%=event.location%></p>
        <p>Name of event <%=event.name%></p>
        <p>courses <%=event.courses%></p>
        <p> <img src="<%=event.img%>" alt="event photo">  </p>
        
    </header>
   

<!-- going to want to hide the following delete and edit section from USERs TODO -->

    <section>
        <form action='/events/gasandnectar/<%=event._id%>?_method=DELETE' method='POST'>
            <input type='submit' value='Delete Event' />
        </form>
    </section>
    <section>
        <a href='<%=event._id%>/edit'>Edit</a> 
        <!-- // ^^^^^^^^^^^^^removing all of the file path here allowed it to render. because the edit route had a preset string value of /gasandnectar/so putting anything in front of this line of code would misdirect it.  -->
    </section>
    

</body>

</html>