<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kelly+Slab&display=swap" rel="stylesheet">

    <title>Gas&Nectar</title>
</head>

</section>

<body>
    <header>
        <nav id='menu'>
            <input type='checkbox' id='responsive-menu'><label></label>
            <ul>
                <li><a href="/events/gasandnectar">Home</a></li>
                <li><a href="/store/gasandnectar">Merch Plug</a></li>
            </ul>
        </nav>
        <h1>
           store Show Page
        </h1>
        <nav>
            <ul>
                <li>
                    <a href="/events/gasandnectar">Home/events</a>
                </li>

                <li>
                    <a href="/merch">Merch Plug</a>
                </li>
            </ul>
        </nav>
         TODO:    Make description part of the schema 
          
        <p><%=store.name%>
        </p>
        <p><%=store.link%> 
            <!-- turn the link into a button later so the image and the button can take them to the cashdrop website  -->
        </p>
        <p> <img src="<%=store.img%>" alt="store item photo"> </p>

    </header>


    <!-- going to want to hide the following delete and edit section from USERs TODO -->

    <section>
        <form action='/store/gasandnectar/<%=store._id%>?_method=DELETE' method='POST'>
            <input type='submit' value='Delete Sale Item' />
        </form>
    </section>
    <section>
        <a href='<%=store._id%>/edit'>Edit</a>
        <!-- // ^^^^^^^^^^^^^removing all of the file path here allowed it to render. because the edit route had a preset string value of /gasandnectar/so putting anything in front of this line of code would misdirect it.  -->
    </section>


</body>

</html>